@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
}

#root {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
